{% extends "base.html" %}
{% block title %}
  {{ post.title }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %} |
  {{ post.pub_date|date:"d E Y" }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if post.image %}
          <a href="{{ post.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ post.image.url }}">
          </a>
        {% endif %}
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {% if not post.is_published %}
              <p class="text-danger">Пост снят с публикации админом</p>
            {% elif not post.category.is_published %}
              <p class="text-danger">Выбранная категория снята с публикации админом</p>
            {% endif %}
            {{ post.pub_date|date:"d E Y, H:i" }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %}<br>
            От автора <a class="text-muted" href="{% url 'blog:profile' post.author.username %}">@{{ post.author.username }}</a> в
            категории {% include "includes/category_link.html" %}
          </small>
        </h6>
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
        {% if user.is_authenticated and user == post.author %}
          <a class="btn btn-primary" href="{% url 'blog:edit_post' post.pk %}">
            Редактировать запись
          </a>
          <a class="btn btn-danger" href="{% url 'blog:delete_post' post.pk %}">
            Удалить запись
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Комментарии ({{ comments.count }})
      </div>
      <div class="card-body">
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'blog:add_comment' post.pk %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Отправить" %}
          </form>
        {% endif %}
        {% for comment in comments %}
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="mt-0">
                <a href="{% url 'blog:profile' comment.author.username %}">
                  @{{ comment.author.username }}
                </a>
              </h5>
              <p>{{ comment.text|linebreaksbr }}</p>
              {% if user.is_authenticated and user == comment.author %}
                <a class="btn btn-primary" href="{% url 'blog:edit_comment' post.pk comment.pk %}">
                  Редактировать
                </a>
                <a class="btn btn-danger" href="{% url 'blog:delete_comment' post.pk comment.pk %}">
                  Удалить
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}